<div class="gear">
  <div class="gear-list">
    <h3>{{ localize "MiniSix.Labels.weapons" }}</h3>
    {{> systems/mini-six/templates/actor/parts/gear-list.hbs actor.weapons }}
    <h3>{{ localize "MiniSix.Labels.armour" }}</h3>
    {{> systems/mini-six/templates/actor/parts/gear-list.hbs actor.armour }}
    <h3>{{ localize "MiniSix.Labels.gear" }}</h3>
    {{> systems/mini-six/templates/actor/parts/gear-list.hbs actor.gear }}
  </div>
  <div class="gear-info">
    <h3>{{ localize "MiniSix.Labels.gearInfo" }}</h3>
  </div>
</div>
