/* ---------------------------- */
/*             Less             */
/* This is your Less entry file */
/* ---------------------------- */

.mini-six.sheet {
  .sheet-header {
    padding-bottom: 0.5em;

    .header-row {
      display: flex;
      flex-direction: row;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      gap: 0.5em;
    }

    .header-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr 2fr);
      align-items: center;
      padding-top: 0.2em;
      gap: 0.2em;

      label {
        text-align: right;
      }
    }
  }

  .sheet-tabs {
  }

  .sheet-body {
    .tab {
      .editor {
        min-height: 236px;
      }

      .tox {
        min-height: 236px;
      }
    }
  }

  .value-form {
    align-items: center;
    gap: 0.25em;

    & > * {
      flex: 0;
    }

    & > label {
      text-align: center;
    }

    input[type='number'] {
      text-align: center;
      min-width: 2em;
    }
  }

  .span2 {
    grid-column-end: span 2;
  }

  .span3 {
    grid-column-end: span 3;
  }

  .span4 {
    grid-column-end: span 4;
  }
}

.mini-six.sheet.item {
  .skill-details {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1em;
  }
}

.mini-six.sheet.actor {
  .attributes-with-skills {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;

    .attribute-with-skills {
      gap: 0.25em;

      .attribute {
        flex-grow: 0;

        .attribute-row {
          border-bottom: 1px solid var(--color-underline-header);
          align-items: center;
          padding-bottom: 0.25em;
          font-size: 1.25em;
        }

        .attribute-form {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: 0.25em;
          align-items: center;
        }

        input[type='number'] {
          min-width: 2em;
          text-align: center;
        }
      }

      .skill-list-element {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 0;

        .skill-roll {
          flex-grow: 1;
          align-items: center;
          display: flex;
          flex-direction: row;
          gap: 0.25em;

          img {
            width: 1.5em;
            height: 1.5em;
            border: 0;
          }
        }
      }
    }
  }
}

.mini-six.test-roller {
  .roll-app-body {
    padding: 1em;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 1em;
    align-items: center;

    .colspan2 {
      grid-column-end: span 2;
    }

    .colspan3 {
      grid-column-end: span 3;
    }
  }
}
