.mini-six.sheet {
  .sheet-header {
    padding-bottom: 0.5em;

    .input-name {
      grid-column-end: span 7;
      font-size: 2em;
      height: 48px;
    }
  }

  .dice-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;

    & > * {
      flex: 0;
    }

    & > label {
      text-align: center;
    }

    input[type='number'] {
      text-align: center;
      min-width: 2em;
    }
  }

  .span2 {
    grid-column-end: span 2;
  }

  .span3 {
    grid-column-end: span 3;
  }

  .span4 {
    grid-column-end: span 4;
  }

  .span7 {
    grid-column-end: span 7;
  }
}
