<div class="skill-details">
  <label for="attribute">{{ localize 'MiniSix.Labels.attribute' }}</label>
  <select id="attribute" name="system.attributeRef">
    {{selectOptions attributes selected=system.attributeRef localize=true}}
  </select>
</div>
